<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="cacheEnabled" value="false"/>
	</settings>

	<typeAliases>		
		<!-- <typeAlias type="com.test.first.member.model.vo.Member" alias="Member" /> -->
	</typeAliases>
	
	<mappers>
		<!-- <mapper resource="mappers/member-mapper.xml" /> -->
	</mappers>
</configuration>
