<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">


<!-- 회원 정보 전체 호출 -->
<select id="memAll" resultType="Member">
	select * from member where admin = 'N'
</select>
<!-- 회원 로그인여부 변경 -->
<update id="updateLoginOK" parameterType="Member">
	update member
	set login_ok = #{ login_ok }
	where m_nickname = #{ m_nickname }
</update>
<!-- 영화 제작비 입력 -->
<update id="updateCost" parameterType="Movie">
	UPDATE MOVIE
	   SET COST = #{ cost }
	 WHERE id = #{ id }
</update>
</mapper>