<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

<!-- 아이디 중복 체크 -->
<select id="idcheck" parameterType="string" resultType="_int">
	select count(*) from member where m_id = #{id}
</select>
<!-- 닉네임 중복 체크 -->
<select id="nickcheck" parameterType="string" resultType="_int">
	select count(*) from member where m_nickname = #{nickname}
</select>
<!-- 회원가입 -->
<insert id="enroll" parameterType="Member">
insert into member (M_ID, M_PW, M_NAME, M_NICKNAME, M_EMAIL, M_GENDER, M_BIRTHDAY, ADMIN, LOGIN_OK)
values(#{m_id}, #{m_pw}, #{m_name}, #{m_nickname}, #{m_email},#{m_gender}, #{m_birthday}, default, default)
</insert>
</mapper>







