<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="cacheEnabled" value="false"/>
	</settings>

	<typeAliases>		
		<typeAlias type="com.together.moviesquare.member.vo.Member" alias="Member" />
		<typeAlias type="com.together.moviesquare.member.vo.KaKao" alias="KaKao" />
		<typeAlias type="com.together.moviesquare.ott.vo.Ott" alias="Ott" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/admin-mapper.xml" />
		<mapper resource="mappers/views-mapper.xml" />
		<mapper resource="mappers/ott-mapper.xml" />
	</mappers>
</configuration>